#nav-bar {
    top: 0;
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: whitesmoke;
    opacity: 0.8;
}

.nav-list {
    list-style-type: none;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.nav-item {
    margin: 30px;
}

.nav-item a {
    color: darkslategray;
}

.nav-item a:hover {
    color: grey;
}

.name {
    margin: 30px;
}